---
layout: styleguide
---

<div class="container">
  <div class="row intro">
    <div class="title small-12 medium-6 columns">
      <%= image_tag lorem.image('100x100')  %> 
      <h1 class="title">
       Project Title
      </h1>
    </div><!-- title -->
    <div class="color-blocks small-12 medium-6 columns">
      <ul class="color-block-group medium-block-grid-4">
        <li><div class="color-block primary"></div></li>
        <li><div class="color-block secondary"></div></li>
        <li><div class="color-block third"></div></li>
        <li><div class="color-block fourth"></div></li>
      </ul>
    </div>
  </div><!-- intro -->
  <div class="row">
    <div class="typography small-12 medium-6 columns">
      <h1 class="header">
        Header
      </h1>
      <h2 class="subheader">
        Subheader
      </h2>
      <p class="meta">
        meta data
      </p>
      <p class="body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, esse, possimus iste rerum cum eligendi provident est officiis illo dolorem. Ea, reprehenderit, officia, saepe <a href="#">enim</a> voluptas ipsam minima beatae ab veniam suscipit eligendi quis ut id officiis quidem perspiciatis sunt magni assumenda dolorum esse alias vitae qui deserunt numquam laudantium.
      </p>
      <a href="#">
        <p class="link">link</p>
      </a>          
        <div class="iconography">
          <i class="ion-social-github"></i>
          <i class="ion-social-twitter"></i>
          <i class="ion-ios7-email"></i>
        </div><!-- iconography -->
        <div class="buttons">
          <a href="#" class="small button">Primary Button</a>
          <a href="#" class="secondary button">Secondary Button</a>
        </div><!-- buttons -->
    </div><!-- typography -->
    <div class="photography small-12 medium-6 columns">      
      <%= image_tag lorem.image('600x300'), :class => "photography-image"  %>            
    </div><!-- photography -->
    <div class="design-patterns small-12 medium-6 columns">
      <h2>Design Patterns</h2>
      <ul class="design-pattern-group medium-block-grid-3">
        <li><div class="design-pattern primary">
          <%= image_tag lorem.image('150x150') %>
        </div></li>
        <li><div class="design-pattern secondary">
          <%= image_tag lorem.image('150x150') %>
        </div></li>
        <li><div class="design-pattern third">
          <%= image_tag lorem.image('150x150') %>
        </div></li>
      </ul>
    </div><!-- design patterns -->      
  </div><!-- row -->
</div><!-- container -->